body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eee;
    font-family: 'Open Sans', sans-serif;
}

#content {
    width: 70%;
    background-color: white;
    padding: 20px;
}

nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav a {
    color: navy;
    text-decoration: none;
    border: 1px solid black;
    padding: 1px 5px;
    font-size: 1.2em;
}

fieldset {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    padding: 20px;
}

fieldset * {
    margin: 5px;
}

fieldset input {
    padding: 5px;
}

input[type=submit] {
    width: 100px;
    align-self: flex-end;
}

div.store {
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 10px;
}

div.items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

div.item-details {
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
    text-align: center;
    width: 250px;
    height: 300px;
}

.info-container {
    max-width: 80rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 1rem 0;
}

.item-name {
    margin: 0;
}

.shopping-list {
    display: flex;
    justify-content: flex-end;
}

.shopping-list form {
    margin: 0;
}

.shopping-list input[type="submit"] {
    padding: 0.5rem 1rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 13rem;
    
}

.shopping-list form:has(input[value="Add to Shopping List"]) input[type="submit"] {
    background-color: #4CAF50;
    color: white;
}

.shopping-list form:has(input[value="Add to Shopping List"]) input[type="submit"]:hover {
    background-color: #45a049;
}

.shopping-list form:has(input[value="Remove from Shopping List"]) input[type="submit"] {
    background-color: #f44336;
    color: white;
}

.shopping-list form:has(input[value="Remove from Shopping List"]) input[type="submit"]:hover {
    background-color: #d32f2f;
}


table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 15px;
}

tr:nth-child(even) {
    background-color: #D6EEEE;
}
